/********************************* general *******************************/

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Raleway", sans-serif;
  width: 100%;
  margin: 0;
}
#wrapper{
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
header {
  display: grid;
  height: 5.625rem;
  grid-template-columns: 7.5rem 1fr 7.5rem;
  grid-template-rows: 1fr;
  align-items: center;
}
}
h1 {
  font-size: 1.4rem;
  font-weight: 600;
  font-family: "raleway";
}
h2 {
  width: 100%;
  padding-bottom: 1.25rem;
  font-size: 1.4rem;
  font-weight: 600;
  font-family: "raleway", sans-serif;
}
h3 {
  font-size: 1rem;
}
h4 {
  font-size: 1.1rem;
}
#p1 {
  margin-top: 0.7rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}

/*******************************   hearder   *********************************/
header nav {
  display:grid;
  justify-items: end;
}

header img {
  width: 6.25rem;
  height: 2.8rem;
  padding-left: 1.25rem;
}
header ul {
  display: flex;
}

#sign-on {
  color: #0065fc;
  font-weight: bolder;
  align-self: center;
  padding-right: 1.25rem;
  padding-left: 2rem;
}

nav ul a:hover {
  color: #0065fc;
  border-top: solid 0.125rem #0065fc;
}
nav ul a {
  display: flex;
  align-items: center;
  border-top: solid 0.125rem transparent;
  padding:2.1875rem;
}
/************************** rechearch&filtre **********************/

#research {
  height: 6.25rem;
  padding: 1.25rem 0;
}
form {
  display: flex;
  height: 3.125rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

#search-button {
  width: 8.44rem;
  height: 3.125rem;
  margin-left: -0.25rem;
  color: white;
  background-color: #0065fc;
  border: none;
  border-radius: 0 0.94rem 0.94rem 0;
  border-bottom: solid 0.125rem #0065fc;
  font-size: large;
  line-height: 3.125rem;
}

#fa-search {
  text-align: center;
  width: 3.125rem;
  height: 3.125rem;
  color: white;
  background-color: #0065fc;
  border-radius: 0.9375rem 0.9375rem 0.9375rem 0.9375rem;
  line-height: 3.125rem !important;
  margin-left: -1.125rem;
  border: none;
  display: none;
}
.fa-map-marker-alt {
  width: 3.125rem;
  height: 3.125rem;
  background-color: #f2f2f2;
  border-radius: 0.9375rem 0rem 0rem 0.9375rem;
  line-height: 3.1875rem !important;
  text-align: center;
  margin-right: -0.3125rem;
  font-size: 1.1rem;
}

#search-field {
  width: 14.6875rem;
  height: 3.125rem;
  padding-left: 0.9375rem;
  border: solid 0.0625rem #f2f2f2;
  border-right: 0rem;
  border-left: 0rem;
  font-weight: 600;
  font-family: "raleway";
  font-size: 1.2rem;
}

#filtre {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-bottom: 1.3rem;
  height: auto;
}
#filtre-title {
  width: 3.125rem;
  padding-right: 2rem;
  line-height: 3.125rem;
  margin-bottom: 0;
  font-size: 1.2rem;
}
#filtre-list a {
  display: inline-block;
  height: 3.125rem;
  margin-bottom: 0.94rem;

}
#filtre a :hover{
  color: #0065fc;
  border-color: #deebff;
}
#filtre-list button {
  height: 3.125rem;
  border: solid 0.125rem #f2f2f2;
  margin-right: 1.125rem;
  border-radius: 1.5625rem;
  background-color: white;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "raleway", sans-serif;
}

#filtre .fas {
  background-color: #deebff;
  border-radius: 3.125rem;
  color: #0065fc;
  width: 3.125rem;
  height: 3.125rem;
  margin-left: -0.125rem;
  margin-top: -0.125rem;
  line-height: 3.125rem;
}

button span {
  padding-left: 0.375rem;
  padding-right: 1rem;
}

#info-result .fa-info {
  width: 1.375rem;
  height: 1.375rem;
  color: #0065fc;
  margin-right: 0.625rem;
  border: solid 0.0625rem #f2f2f2;
  border-radius: 1.375rem;
  text-align: center;
  line-height: 1.375rem ;
  float: left;
}

#info-result {
  margin-bottom: 1.875rem;
  font-size: 1rem;
}

/************************** lodging and popular ****************************/

#main-section {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  margin-bottom: 2.1875rem;
}
.price-bold {
  font-weight: 600;
}
#lodging {
  display: flex;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  border-radius: 1.25rem;
  width: 63%;
  padding: 1.5625rem;
}

#title-lodging {
  height: 1.25rem;
  width: 100%;
  margin-bottom: 0.9375rem;
}
.element-lodging {
  width: 28%;
  height: 25%;
  margin: 0rem 0.9375rem 0.9375rem 0.9375rem;
  padding: 5px;
  background-color: white;
  border-radius: 1.25rem;
  -webkit-box-shadow: 0rem 0rem 0.875rem -0.1875rem rgba(0, 0, 0, 0.2);
  box-shadow: 0rem 0rem 0.875rem -0.1875rem rgba(0, 0, 0, 0.2);
}
main img {
  width: 100%;
  height: 60%; 
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  object-fit: cover;
}
.lodging-info{
  padding-left: 0.625rem;
}
.element-lodging p {
  font-size: 0.85rem;
  padding: 0.3rem 0;
}
.fa-star::before{
  font-size: 0.8rem;
}

#lodging #p-plus {
  width: 100%;
  font-size: 1.1rem ;
  font-weight: 700;
}

#popular {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 2.5rem;
  border-radius: 1.25rem;
  background-color: #f2f2f2;
}
.fa-chart-line {
  margin-left: 5.875rem;
  font-size: 1.5rem;
}
.elements-popular {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 18%;
  margin-bottom: 2.1875rem;
  padding: 5px;
  background-color: white;
  border-radius: 1.25rem;
  -webkit-box-shadow: 0rem 0rem 0.875rem -0.1875rem rgba(0, 0, 0, 0.2);
  box-shadow: 0rem 0rem 0.875rem -0.1875rem rgba(0, 0, 0, 0.2);
}
aside img {
  width: 35%;
  height: 100%;
  border-top-left-radius: 1.25rem;
  border-bottom-left-radius: 1.25rem;
  object-fit: cover;
}
.popular-info{
  padding-left:1rem;
}
#popular p {
  font-size: 0.85rem;
}
aside p {
  width: 10rem;
  line-height: 1.4;
}
.checked {
  color: #0065fc;
}
.notchecked {
  color: #f2f2f2;
}

/****************************** activities *******************************/

#activities {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

#grid-activities {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 18.75rem);
  grid-column-gap: 2.5rem;
  grid-row-gap: 2.5rem;
}
.element-activities {
  display: inline-block;
  -webkit-box-shadow: 0rem 0rem 0.875rem -0.1875rem rgba(0, 0, 0, 0.2);
  box-shadow: 0rem 0rem 0.875rem -0.1875rem rgba(0, 0, 0, 0.2);
}
#activities h3 {
  padding: 0.94rem;
}

#fig_01 {
  width: 18.75rem;
  height: 27.8125rem;
  border-radius: 0.9375rem;
  background-color: white;
}
#image_01 {
  width: 18.75rem;
  height: 24.375rem;
  border-top-left-radius: 0.9375rem;
  border-top-right-radius: 0.9375rem;
  object-fit: cover;
  object-position: center bottom;
}
#fig_02 {
  width: 18.75rem;
  height: 235px;
  border-radius: 0.9375rem;
  margin-bottom: 2.8125rem;
  background-color: white;
}
#image_02 {
  width: 18.75rem;
  height: 11.25rem;
  border-top-left-radius: 0.9375rem;
  border-top-right-radius: 0.9375rem;
  object-fit: cover;
  object-position: center;
}
#fig_03 {
  width: 18.75rem;
  height: 10.3125rem;
  border-radius: 0.9375rem;
  background-color: white;
}
#image_03 {
  width: 18.75rem;
  height: 6.875rem;
  border-top-left-radius: 0.9375rem;
  border-top-right-radius: 0.9375rem;
  object-fit: cover;
  object-position: center;
}
#fig_04 {
  width: 18.75rem;
  height: 27.8125rem;
  border-radius: 0.9375rem;
  background-color: white;
}
#image_04 {
  width: 18.75rem;
  height: 24.375rem;
  border-top-left-radius: 0.9375rem;
  border-top-right-radius: 0.9375rem;
  object-fit: cover;
  object-position: center;
}
#fig_05 {
  width: 18.75rem;
  height: 12.1875rem;
  border-radius: 0.9375rem;
  background-color: white;
  margin-bottom: 2.5rem;
}
#image_05 {
  width: 18.75rem;
  height: 8.75rem;
  border-top-left-radius: 0.9375rem;
  border-top-right-radius: 0.9375rem;
  object-fit: cover;
  object-position: center;
}
#fig_06 {
  width: 18.75rem;
  height: 13.125rem;
  border-radius: 0.9375rem;
  background-color: white;
}
#image_06 {
  width: 18.75rem;
  height: 9.5625rem;
  border-top-left-radius: 0.9375rem;
  border-top-right-radius: 0.9375rem;
  object-fit: cover;
  object-position: center;
}

/*********************************** mainFooter ******************************/

#mainFooter {
  display: flex;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  margin-top: 1.25rem;
  padding: 1.25rem;

}
#ourlodging{
  margin-right: 17%;
}
#about{
  margin-right: 17%;
}
footer ul li {
  margin-top: 0.8rem;
}
footer ul {
  margin-top: 1.25rem;
  width: 14.375rem;
}


/********************************* media queries **************************/

@media screen and (max-width: 640px) {
  h1 {
    padding-top: 4rem;
  }
  header {
    display: grid;
    height: 5.625rem;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: flex-start;
  }
  header nav{
    grid-row-start: 2;
    grid-column: span 2;
  }
  #sign-on{
    justify-self: end;
  }
   nav ul a {
    display: flex;
    justify-content: center;
    padding: 0.8125rem 0;
    border-top: none;
    border-bottom: solid 0.1875rem #f2f2f2;
    width: 50vw;
   }

  nav ul a:hover {
    color: #0065fc;
    border-bottom: solid 0.1875rem #0065fc;
    border-top: none;
  }
  
  form {
    margin-top: 2rem;
  }
  #search-button {
    display: none;
  }

  #fa-search {
    display: inline-block;
  }
  #filtre {
    padding-top: 5rem;
  }
  #filtre-title {
    padding-top: 10px;
    padding-bottom: 0;
  }
  #info-result {
    width: 23.125rem;
  }
  #popular {
    padding: 2.5rem 0;
    height: auto;
    background-color: #f2f2f2;
    justify-content: center;
    border-radius: 0px 0px 0px 0px;
    margin-right: 0;
  }

  #lodging {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    border-radius: 0px 0px 0px 0px;
    width: 100%;
    height: auto;
    padding: 1.5625rem;
    background-color: white;
    justify-content: center;
  }

  .element-lodging {
    width: 20.625rem;
  }

  main img {
    width: 20.625rem;
  }
  #activities {
    width: 100%;
    height: auto;
    justify-content: center;
  }
  #grid-activities {
    justify-content: center;
  }

  #fig_01 {
    width: 20.9375rem;
    height: 12.5rem;
    border-radius: 0.9375rem;
    border-style: solid;
    border-color: white;
    border-width: 0 0 3.4375rem 0;
  }
  #image_01 {
    width: 20.9375rem;
    height: 12.5rem;
    border-top-left-radius: 0.9375rem;
    border-top-right-radius: 0.9375rem;
    object-fit: cover;
    object-position: center bottom;
  }
  #fig_02 {
    width: 20.9375rem;
    height: 12.5rem;
    border-radius: 0.9375rem;
    border-style: solid;
    border-color: white;
    border-width: 0 0 3.4375rem 0;
    margin-bottom: 2.8125rem;
  }
  #image_02 {
    width: 20.9375rem;
    height: 12.5rem;
    border-top-left-radius: 0.9375rem;
    border-top-right-radius: 0.9375rem;
    object-fit: cover;
    object-position: center;
  }
  #fig_03 {
    width: 20.9375rem;
    height: 12.5rem;
    border-radius: 0.9375rem;
    border-style: solid;
    border-color: white;
    border-width: 0 0 3.4375rem 0;
  }
  #image_03 {
    width: 20.9375rem;
    height: 12.5rem;
    border-top-left-radius: 0.9375rem;
    border-top-right-radius: 0.9375rem;
    object-fit: cover;
    object-position: center;
  }
  #fig_04 {
    width: 20.9375rem;
    height: 12.5rem;
    border-radius: 0.9375rem;
    border-style: solid;
    border-color: white;
    border-width: 0 0 3.4375rem 0;
  }
  #image_04 {
    width: 20.9375rem;
    height: 12.5rem;
    border-top-left-radius: 0.9375rem;
    border-top-right-radius: 0.9375rem;
    object-fit: cover;
    object-position: center;
  }
  #fig_05 {
    width: 20.9375rem;
    height: 12.5rem;
    border-radius: 0.9375rem;
    border-style: solid;
    border-color: white;
    border-width: 0 0 3.4375rem 0;
    margin-bottom: 2.5rem;
  }
  #image_05 {
    width: 20.9375rem;
    height: 12.5rem;
    border-top-left-radius: 0.9375rem;
    border-top-right-radius: 0.9375rem;
    object-fit: cover;
    object-position: center;
  }
  #fig_06 {
    width: 20.9375rem;
    height: 12.5rem;
    border-radius: 0.9375rem;
    border-style: solid;
    border-color: white;
    border-width: 0 0 3.4375rem 0;
  }
  #image_06 {
    width: 20.9375rem;
    height: 12.5rem;
    border-top-left-radius: 0.9375rem;
    border-top-right-radius: 0.9375rem;
    object-fit: cover;
    object-position: center;
  }
  #commitement {
    margin-left: 0;
  }
}
@media screen and (max-width: 1365px) {
  #popular {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 2.1875rem;
  }
  .elements-popular {
    margin-right: 1.875rem;
  }
  #lodging {
    width: 100%;
  }
  .element-lodging {
    margin-bottom: 2.1875rem;
  }
  #activities {
    width: auto;
    height: auto;
  }
}
