/* general */

* {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    width: 100%;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
  }
  h1 {
    font-size: 1.3em;
    font-weight: 500;
  }
  h2 {
    width: 100%;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: medium;
  }
  h3 {
    font-size: small;
    font-weight: bold;
  }
  p {
    font-size: small;
  }
  #p1
  {
      font-size: medium;
  }
  ul {

    list-style: none;
    float:left;
  }
  a {
    text-decoration: none;
    color: black;
  }
  
  header img {
    float: left;
    margin-top: 32px;
    margin-left: 20px;
    max-width: 100px;
    max-height: 40px;
  }
  
  header nav {
 
    margin-top: 40px;
  }
  
  header ul li {
    float: left;
  }
  
  header ul li a {
    margin-left: 65px;
    padding: 0px 15px 0px 15px;
  }
  
  #sign-on {
    color: #0065fc;
    font-weight: bolder;
  }

  a:hover {
    color: #0065fc;
    border-top: solid 2px #0065fc;
    padding-top: 38px;
  }
  
  /* rechearch */
  
  #research {
    display: inline-block;
    height: 100px;
    margin: 20px;
  }
 
  #filtre {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin: 35px 20px;
  }
  #filtre-title {
    width: 50px;
    float: left;
    margin-right: 30px;
    margin-top: 10px;
    width: 30px;
  }
  #filtre-list li {
    display: inline-block;
    text-align: center;
    padding-top: 15px;
    height: 31px;
    border: solid 2px #f2f2f2;
    margin-left: 25px;
    margin-bottom: 15px;
    border-radius: 25px;
  }
  .li-text {
    float: right;
    position: relative;
    top: -5px;
    left: -25px;
    font-weight: bolder;
  }
  
  #l1 {
    width: 165px;
  }
  #l2 {
    width: 125px;
  }
  #l3 {
    width: 160px;
  }
  #l4 {
    width: 215px;
  }
  
  li .fas {
    background-color: #deebff;
    border-radius: 50px;
    color: #0065fc;
    width: 50px;
    height: 50px;
    line-height: 3;
    position: relative;
    top: -17px;
    left: -23px; 
  }
  #info-result
  {
      height: 100px;
      width: auto;
      margin-left: 20px;
      font-size: medium;
    
  }
  .fa-info {
    width: 18px;
    height: 15px;
    color:#0065fc;
    margin-right: 10px;
    border: solid 2px #f2f2f2;
    border-radius: 50% 50%;
    text-align: center;
    position: relative;
    top: -3px;
    padding-top: 3px
  }
  
  #search-field-area {
    display:inline-block;
    height: 50px;
    margin-top: 15px;
  }
  
  .fa-map-marker-alt {
    float: left;
    text-align: center;
    padding-top: 15px;
    width: 50px;
    height: 35px;
    background-color: #f2f2f2;
    border-radius: 15px 0px 0px 15px;
  }
  #search-button {
    width: 135px;
    height: 50px;
    margin-left: -5px;
    color: white;
    background-color: #0065fc;
    border: none;
    border-radius: 0px 15px 15px 0px;
    font-size: large; 
  }
  .fa-search {
    text-align: center;
    padding-top: 15px;
    width: 50px;
    height: 35px;
    color: white;
    background-color: #0065fc;
    border-radius: 15px 15px 15px 15px;
    position: relative;
    left:-15px;
    top:-2.5px;

  }
  #fa-search{
      display: none;
  }
  
  #search-field {
    width: 235px;
    height: 50px;
    border: solid 1px #f2f2f2;
    border-right: 0px;
    border-left: 0px;
    font-weight: 900;
    font-size: medium;
    padding-left: 10px;
    position:relative;
    top:-1px;
    
  }
  form {
    width: 420px;
  }
  
  #first-title {
    margin-bottom: 0px;
  }
  
  /* lodging and popular */
  
  #main-section {
    display: flex;
    flex-wrap: wrap-reverse;
    margin-bottom: 35px;
    justify-content: center;
  }
  
  #lodging {
    display: flex;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    margin: 20px;
    border-radius: 20px;
    width: 825px;
    min-height: 625px;
    padding: 25px;
  }
 
    #popular {
        padding: 40px;
        margin: 20px;
        height: auto;
        width: 331px;
        border-radius: 20px;
        background-color: #f2f2f2;
        justify-content: center;
    }
  #title-lodging {
    height: 20px;
    width: 100%;
    margin-bottom: 15px;
  }
  .element-lodging {
    width: 235px;
    height: 115px;
    margin: 0px 15px 15px 15px;
    border-style: solid;
    border-width: 5px 5px 80px 5px;
    border-color: white;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 14px -3px rgba(0, 0, 0, 0.53);
    box-shadow: 0px 0px 14px -3px rgba(0, 0, 0, 0.53);
  }
  .fa-chart-line
  {
      margin-left:150px;
      font-size: medium;
  }
  
  #p-plus {
    width: 100%;
    height: 30px;
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
  }
  
  main img {
    width: 235px;
    height: 115px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
  }
  
  .elements-popular {
    width: 127px;
    height: 134px;
    margin-bottom: 35px;
    border-style: solid;
    border-color: white;
    border-width: 5px 211px 5px 5px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 14px -3px rgba(0, 0, 0, 0.53);
    box-shadow: 0px 0px 14px -3px rgba(0, 0, 0, 0.53);
  }
  
  aside img {
    width: 127px;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
    object-position: center;
  }
  
  aside h3 {
    position: relative;
    top: -130px;
    left: 150px;
  }
  aside p {
    position: relative;
    top: -130px;
    left: 150px;
  }
  .checked {
    color: #0065fc;
  }
  .notchecked {
    color: #f2f2f2;
  }
  
  /*activirys*/
  
  #activities {
    width: 1366px;
    height: auto;
    margin: auto;
  }
  #grid-activities {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    justify-content: center;
  }
  .element-activities {
    -webkit-box-shadow: 0px 0px 14px -3px rgba(0, 0, 0, 0.53);
    box-shadow: 0px 0px 14px -3px rgba(0, 0, 0, 0.53);
  }
  #activities h3 {
    padding: 15px;
  }
  
  #fig_01 {
    width: 300px;
    height: 390px;
    border-radius: 15px;
    border-style: solid;
    border-color: white;
    border-width: 0px 0px 55px 0px;
  }
  #image_01 {
    width: 300px;
    height: 390px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    object-position: center bottom;
  }
  #fig_02 {
    width: 300px;
    height: 180px;
    border-radius: 15px;
    border-style: solid;
    border-color: white;
    border-width: 0px 0px 55px 0px;
    margin-bottom: 45px;
  }
  #image_02 {
    width: 300px;
    height: 180px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    object-position: center;
  }
  #fig_03 {
    width: 300px;
    height: 110px;
    border-radius: 15px;
    border-style: solid;
    border-color: white;
    border-width: 0px 0px 55px 0px;
  }
  #image_03 {
    width: 300px;
    height: 110px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    object-position: center;
  }
  #fig_04 {
    width: 300px;
    height: 390px;
    border-radius: 15px;
    border-style: solid;
    border-color: white;
    border-width: 0px 0px 55px 0px;
  }
  #image_04 {
    width: 300px;
    height: 390px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    object-position: center;
  }
  #fig_05 {
    width: 300px;
    height: 140px;
    border-radius: 15px;
    border-style: solid;
    border-color: white;
    border-width: 0px 0px 55px 0px;
    margin-bottom: 40px;
  }
  #image_05 {
    width: 300px;
    height: 140px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    object-position: center;
  }
  #fig_06 {
    width: 300px;
    height: 155px;
    border-radius: 15px;
    border-style: solid;
    border-color: white;
    border-width: 0px 0px 55px 0px;
  }
  #image_06 {
    width: 300px;
    height: 155px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    object-position: center;
  }
  
  /* mainFooter */
  
  #mainFooter {
    display: flex;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    margin-top: 20px;
    padding: 20px;
    width: 100%;
  }
  
  footer ul li {
    margin-right: 100px;
    margin-top: 5px;
  }
  footer ul {
    margin-top: 20px;
  }
  #about {
    margin-left: 20px;
  }
  #commitement {
    margin-left: 20px;
  }
  #help {
    margin-left: 20px;
  }
  

  @media screen and (max-width:640px)
{
  h2{
    text-align: center;
  }
    #li-element1
  {
      position: absolute;
      left: -55px;
      top: 92px;
      border-bottom: solid 3px #f2f2f2;
      padding-bottom: 5px;
      padding-right: 100%;
  }
  #li-element2
  {
      position: absolute;
      left: 40%;
      top: 92px;
      border-bottom: solid 3px #f2f2f2;
      padding-bottom: 5px;
  }
  a:hover 
  {
    color: #0065fc;
    border-bottom: solid 2px #0065fc;
    padding-bottom: 5px;
    border-top: none;
  }
  #search-button{
      display:none;
  }
  
  #fa-search{
    display: inline-block;
}
#search-field
{
    position: relative;
    top:0px;
}

#popular {
    padding: 40px;
    height: auto;
    width: 100%;
    margin: 0px;
    background-color: #f2f2f2;
    justify-content: center;
    border-radius: 0px 0px 0px 0px;
}

#lodging {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    border-radius: 0px 0px 0px 0px;
    width: 100%;
    height: auto;
    padding: 25px;
    background-color: white;
    justify-content: center;
  }

  .element-lodging {
    width: 330px;
    
  }

  main img {
    width: 330px;
   
  }
  #activities {
    width: auto;
    height: auto;
    margin: auto;
  }
  #grid-activities{
    justify-items: center;
  }
  #fig_01 {
    width: 335px;
    height: 200px;
    border-radius: 15px;
    border-style: solid;
    border-color: white;
    border-width: 0px 0px 55px 0px;
  }
  #image_01 {
    width: 335px;
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    object-position: center bottom;
  }
  #fig_02 {
    width: 335px;
    height: 200px;
    border-radius: 15px;
    border-style: solid;
    border-color: white;
    border-width: 0px 0px 55px 0px;
    margin-bottom: 45px;
  }
  #image_02 {
    width: 335px;
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    object-position: center;
  }
  #fig_03 {
    width: 335px;
    height: 200px;
    border-radius: 15px;
    border-style: solid;
    border-color: white;
    border-width: 0px 0px 55px 0px;
  }
  #image_03 {
    width: 335px;
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    object-position: center;
  }
  #fig_04 {
    width: 335px;
    height: 200px;
    border-radius: 15px;
    border-style: solid;
    border-color: white;
    border-width: 0px 0px 55px 0px;
  }
  #image_04 {
    width: 335px;
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    object-position: center;
  }
  #fig_05 {
    width: 335px;
    height: 200px;
    border-radius: 15px;
    border-style: solid;
    border-color: white;
    border-width: 0px 0px 55px 0px;
    margin-bottom: 40px;
  }
  #image_05 {
    width: 335px;
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    object-position: center;
  }
  #fig_06 {
    width: 335px;
    height: 200px;
    border-radius: 15px;
    border-style: solid;
    border-color: white;
    border-width: 0px 0px 55px 0px;
  }
  #image_06 {
    width: 335px;
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    object-position: center;
  }

}
@media screen and (max-width:1365px)
{
  #popular{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .elements-popular{
    margin-right:30px;
  }
  #lodging{
    width: 100%;
    justify-content: center;
   
  }
  .element-lodging{
    margin-bottom: 35px;
  }
  #activities {
    width: auto;
    height: auto;
    margin: auto;
  }
}





